<launch>
  <node name="getid" pkg="cafer_core" type="getid" ns="/cafer_core" />

  <arg name="nb_launch_death" default="10"/>
  <arg name="management_topic" default="component_test_launch_death_mgmt"/>

  <test test-name="component_test_launch_death" pkg="cafer_core" type="component_test_launch_death" name="component_test" ns="cctn" time-limit="3600000">
    <param name="nb_launch_death" type="int" value="$(arg nb_launch_death)" />  
      <param name="management_topic" type="string" value="$(arg management_topic)" />
      <param name="creator_ns" type="string" value=""/>
      <param name="creator_id" type="int" value="-1"/>
      <param name="created_ns" type="string" value=""/>

  </test>
</launch>