<launch>
  <node name="getid" pkg="cafer_core" type="getid" ns="/cafer_server" />
  <node name="component_test_node" pkg="cafer_core" type="component_test_node" ns="cctn"/>

  <param name="/cctn/hztest1/topic" value="component_test_management" />  
  <param name="/cctn/hztest1/hz" value="10.0" />
  <param name="/cctn/hztest1/hzerror" value="0.5" />
  <param name="/cctn/hztest1/wait_time" value="10" />
  <param name="/cctn/hztest1/test_duration" value="5.0" />    
  <test test-name="component_freq10" pkg="rostest" type="hztest" name="hztest1" ns="cctn"/>
</launch>