<launch>
  <node name="getid" pkg="cafer_core" type="getid" ns="/cafer_core" />
  <arg name="management_topic" default="/component_test_launch_death_mgmt"/>
  <node name="component_test_node" pkg="cafer_core" type="component_test_node" ns="cctn">
    <param name="management_topic" type="string" value="$(arg management_topic)" />
    <param name="creator_ns" type="string" value=""/>
    <param name="creator_id" type="int" value="-1"/>
    <param name="created_ns" type="string" value=""/>  
  </node>
  <test test-name="component_test_death" pkg="cafer_core" type="component_test_death" name="component_test1" ns="cctn">
    <param name="management_topic" type="string" value="$(arg management_topic)" /> 
  </test>
</launch>
