<launch>
  <arg name="ns" />
  <arg name="management_topic" default="dummy_management_topic"/>
  <arg name="frequency" default="10"/>
  <arg name="creator_ns" default="unset"/>
  <arg name="creator_id" default="-1"/>
  <node name="component_test_node" pkg="cafer_core" type="component_test_node" ns="$(arg ns)">
      <param name="frequency" type="double" value="$(arg frequency)" />
      <param name="management_topic" type="string" value="$(arg management_topic)" />
      <param name="creator_ns" type="string" value="$(arg creator_ns)"/>
      <param name="creator_id" type="int" value="$(arg creator_id)"/>
      <param name="created_ns" type="string" value="$(arg ns)"/>
  </node>
</launch>