<launch>
  <node name="getid" pkg="cafer_core" type="getid" ns="/cafer_server" />
  <node name="component_test_node" pkg="cafer_core" type="component_test_node" ns="cctn"/>
  <node name="component_test_chgt_freq_node" pkg="cafer_core" type="component_test_chgt_freq_node" ns="cctn"/>

  <param name="/cctn/hztest2/topic" value="component_test_management" />  
  <param name="/cctn/hztest2/hz" value="20.0" />
  <param name="/cctn/hztest2/hzerror" value="1" />
  <param name="/cctn/hztest2/wait_time" value="20" />
  <param name="/cctn/hztest2/test_duration" value="25.0" />    
  <test test-name="component_freq20" pkg="rostest" type="hztest" name="hztest2" ns="cctn"/>

</launch>