<launch>
  <node name="getid" pkg="cafer_server" type="getid" ns="/cafer_server" />
  <node name="cafer_client_test_node" pkg="cafer_test" type="cafer_client_test_node" ns="cctn"/>
  <node name="cafer_client_test_node_send_msg" pkg="cafer_test" type="cafer_client_test_node_send_chgt_freq" ns="cctn"/>

  <param name="/cctn/hztest2/topic" value="cafer_client_test_management" />  
  <param name="/cctn/hztest2/hz" value="20.0" />
  <param name="/cctn/hztest2/hzerror" value="1" />
  <param name="/cctn/hztest2/wait_time" value="20" />
  <param name="/cctn/hztest2/test_duration" value="25.0" />    
  <test test-name="cafer_client_freq20" pkg="rostest" type="hztest" name="hztest2" ns="cctn"/>

</launch>