<launch>
  <node name="getid" pkg="cafer_server" type="getid" ns="cctn" />
  <node name="cafer_client_test_node" pkg="cafer_test" type="cafer_client_test_node" ns="cctn"/>

  <param name="/cctn/hztest1/topic" value="cafer_client_test_management" />  
  <param name="/cctn/hztest1/hz" value="10.0" />
  <param name="/cctn/hztest1/hzerror" value="0.5" />
  <param name="/cctn/hztest1/wait_time" value="10" />
  <param name="/cctn/hztest1/test_duration" value="5.0" />    
  <test test-name="cafer_client_freq10" pkg="rostest" type="hztest" name="hztest1" ns="cctn"/>
</launch>