<launch>
  <node name="getid" pkg="cafer_core" type="getid" ns="/cafer_core" />

  <arg name="ns" default="basic_example_ns"/>
  <arg name="management_topic" default="/basic_topic"/>
  <arg name="frequency" default="10"/>
  <arg name="type" default="basic_type"/>
  <node name="basic_example_launch_set_nodes" pkg="cafer_core" type="basic_example_launch_set_nodes" ns="$(arg ns)" output="screen">
      <param name="frequency" type="double" value="$(arg frequency)" />
      <param name="management_topic" type="string" value="$(arg management_topic)" />
      <param name="type" type="string" value="$(arg type)" />
  </node>
</launch>